*{
    padding: 0;
    margin: 0;
}

body{
    color: blueviolet;
}

header{
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;
}